dotnet/Kit/UserManagement/trunk/Sources/FrontEnd/Code/Context.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="contextparams" type="contextparams" />
  <xsd:complexType name="contextparams">
    <xsd:sequence>
      <xsd:element name="contextparam" type="contextparam" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="contextparam">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="key" type="xsd:string" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
